body 
{
	margin: 0 auto;
	padding: 0  auto;
	font: normal 0.8em/1.4em Tahoma, Verdana, Arial, Georgia, sans-serif;
	background: transparent url(images/back_All.jpg) fixed;
	text-align: center;
	left:auto;
	right:auto;
}

#container {

	margin: 0px auto;

	padding:0;

	width: 765px;

	border: none;

	text-align: right;

	
	
	background-color:#CC6600;
}
.ddl
{
	font-family:Tahoma;
	font-size:10pt;
	width:145px;
}
.txt
{
	font-family:Tahoma;
	font-size:10pt;
	width:145px;
	direction:rtl;	
}
.txtl
{
	font-family:Tahoma;
	font-size:10pt;
	width:145px;	
	direction:ltr;
}
.multiLine
{
	height:40px;
	width:234px;
	font-family:Tahoma,Verdana,sans-serif;
	font-size:10pt;
	direction:rtl;	
}
.btn
{
	
   font-size:13px;
   font-family:Tahoma,Verdana,sans-serif;
   color:black;
   width:70px;
   background-color:#EEEEEE;
   border-style:solid;
   border-color:#BBBBBB;
   border-width:1px;
   text-align:center;
   
}